button{
    border-radius: 0;
    border:1px solid black;    
}

input[type="checkbox"], button{
    cursor: pointer;
}

*:disabled{
    /* border:1px solid gray; */
    cursor: not-allowed;
}

/*  */

#table_wraper{
    border: 1px solid black;
    min-height: 80vh;
    overflow-x: scroll;
}

table {
    width: 100%;
    min-width:800px;
    border-collapse: collapse;            
}

th{
    border: none;
    padding: 14px 8px;
    text-align: center;
}

td {
    border: none;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e2e2e2;
}

.operate_btns{
    text-align: right;
    padding: 1em 0;
}

.operate_btns > button{
    padding: 0.8em 1em;
    margin-left: 1em;
    font-weight: bolder;
}

tr[rec_status="2"] td[attr_name="status"]{
    color: blue;
}

tr[rec_status="3"] td[attr_name="status"]{
    color: green;
}

tr[rec_status="9"] td[attr_name="status"]{
    color: red;
}